@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin:0;
    padding:0;
    font-family: 'Orbitron', monospace ,sans-serif;
}

body {
    background-color: #E9E9E9;
}

#app-container {
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    width:350px;
    background-color: #28343C;
    padding:10px;
}

.output {
    color:#E9E9E9;
    text-align: end;
    margin-bottom: 10px;
    height:20px;
    font-size:1.5rem;
}

#buttons-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, 70px);
}

.cal-button {
    border-color: #28343C;
    border-radius: 1px;
    border-width: 1px;
    font-size: large;
    outline:none;
}

.cal-button:active {
    border-color: #E9E9E9;
    background-color: #28343C;
    color:#E9E9E9;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #F11C57;
}

#divide {
    grid-column-start: 3;
    grid-column-end: 4;
}

#multiply {
    grid-column-start: 4;
    grid-column-end: 5;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

#equals {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: #00D570;
    
}